extends layout 

block content 

    doctype html
    html(lang="es")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Casita de Aseo Bravid
            link(rel="stylesheet", href="style.css")
        body
            header
                .contenedor 
                    .logo
                        img(src="/images/logo.jpg", width="100")

                    .casita
                        h1 Casita de Aseo Bravid
                        
                    form.login-form(action="/busqueda/", method="post", style="margin-top: 20px;")
                        input.search(type="text", name="search", placeholder="Buscar...", required)
                        .lupa
                            button.tt(type="submit")
                                img(src="/images/lupa.png", width="50")

                    .carrito
                        center
                            img(src="/images/carrito.png", width="50")

                    .us
                        .hola
                            center
                                h2 Hola Admin!

                        .perfil
                            center
                                botton 
                                    img(src="/images/perfil.png", width="50")
        
                center
                    img(src="/images/perfil.png", width="50")   
                    h1 Vista Usuario 
                    h1
                    a(href="/") Cerrar Sesion

                center

                        .contenedor1
                            h2 Editar Producto:
                            #centerEdit
                                div#titulos 
                                    form(action="/editprod/actualizar", method="post") 
                                        input#iduser(type="number" name="id" value="#{id}")
                                        h1 nombre del producto 
                                        input(type="text" name="nombre" required value="#{nombre}")
                                        h1 Precio
                                        <input type="number" id="precio" name="precio" required value="#{precio}">
                                        h1 Cantidades disponibles:
                                        <input type="number" id="cantidad" name="cantidad" required value="#{cantidad}">
                                        br
                                        h1 Disponibilidad y Categoria
                                        label(for="disponibilidad") 
                                        select(name="disponibilidad" required) 
                                            option(value="1" selected) Disponible
                                            option(value="0") No disponible
                                        label(for="categoria") 
                                        select(name="categoria" required) 
                                            option(value="1" select) Belleza
                                            option(value="2") Cuidado
                                            option(value="3") Hogar
                                            option(value="4") Bebes
                                            option(value="5") Otros
                                        br
                                        button#cargar Actualizar 
                                        a#butCancel(href="/dashboard") cancelar

                    